<app-hero-seccion
  [nombreSeccion]="'Nuestro blog'"
  [descripcionSeccion]="
    'En esta sección, publicamos novedades, eventos y avisos'
  "
></app-hero-seccion>

<div class="container my-4" *ngIf="blogs$ | async as blogs; else loading">
  <div class="grid">
    <div class="col-12" *ngFor="let blog of blogs">
      <section class="dark">
        <article class="postcard dark blue">
          <div class="postcard__img_link">
            <img
              class="postcard__img"
              [src]="blog.imagen"
              [alt]="blog.titulo"
            />
          </div>
          <div class="postcard__text">
            <h1 class="postcard__title blue">
              <a>{{ blog.titulo }}</a>
            </h1>
            <div
              class="
                postcard__subtitle
                small
                mt-3
                mb-2
                flex
                justify-content-between
              "
            >
              <time>
                <i class="fas fa-calendar-alt mr-2 color-principal"></i>
                {{ blog.horaCreacion?.valueOf() | date: "dd/MM/yyyy" }}
              </time>
            </div>
            <div class="postcard__bar"></div>
            <div
              class="postcard__preview-txt"
              [innerHtml]="blog.contenido | convertidorHtml"
            ></div>
            <ul class="postcard__tagbox">
              <li class="tag__item px-2 py-1 text-base">
                {{ blog.categoria }}
              </li>
            </ul>
          </div>
        </article>
      </section>
    </div>
  </div>
</div>
<ng-template #loading>
  <p-progressSpinner
    class="flex justify-content-center my-5"
    strokeWidth="4"
  ></p-progressSpinner>
</ng-template>
<app-footer></app-footer>
