:host ::ng-deep .p-menubar {
  position: fixed !important;
  width: 100%;
  position: -webkit-sticky !important; // Needed for Safari browsers.
  z-index: 100 !important; // This prevents elements to be seen through the toolbar.
  top: 0 !important; // Required for "position: sticky" to take effect.
}

/* Redes sociales */
.redes-sociales {
  text-decoration: none;
  background-color: #000000;
  color: #ff8800;
  border: 1px solid #ff8800;
  transition: all 0.3s ease-in;
}
.redes-sociales:hover {
  background-color: #ff8800;
  color: #000;
}
/* ------------------ */
.delimitador {
  height: 42px;
  width: 1px;
  background-color: #ff8800;
}
.hr-personalizado {
  border-color: #ff8800;
  width: 80%;
}
.info-admin {
  > span {
    display: block;
  }
  .admin-status {
    i {
      font-size: 12px;
      margin-right: 4px;
      color: #37e419;
    }
  }
}
/* boton de scrolltop */
:host ::ng-deep .custom-scrolltop {
  width: 3rem;
  height: 3rem;
  border-radius: 4px;
  background-color: #ff8800;
  transition: all 0.3s ease-in;
  &:hover {
    background-color: #ff9823;
  }

  .p-scrolltop-icon {
    font-size: 1.3rem;
    color: #000;
  }
}


