/* Hero del inicio */
.fondo {
  background: url(../../../../assets/hero-fondo.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .capa {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #000000a1, #000000ab);
  }
  .info-general {
    z-index: 2;
    .info {
      .lineas-efecto {
        display: inline-block;
        position: relative;
        &::after,
        &::before {
          content: "";
          position: absolute;
          width: 20%;
          height: 3px;
          background-color: #ff8800;
          top: 0.7em;
        }
        &::before {
          left: 10px;
        }
        &::after {
          right: 10px;
        }
      }
      p {
        padding-left: 10px;
        border-left: 7px solid #ff8800;
      }
    }
  }
}

.triangulo-equilatero-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 42%;
  height: 0;
  border-right: 100px solid transparent;
  border-top: 50px solid transparent;
  border-left: 100px solid #ff8800;
  border-bottom: 20px solid #ff8800;
}

.efecto-cortado {
  clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%);
}

.img-principal {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.caja-img {
  height: 300px !important;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 765px) {
  .img-principal {
    height: 400px;
  }
  .efecto-cortado {
    clip-path: none;
  }
  .lineas-efecto {
    &::after,
    &::before {
      display: none;
    }
  }
  .triangulo-equilatero-bottom-left {
    width: 100%;
    border-right: 50px solid transparent;
  }
  .recipe-card {
    aside {
      height: 250px !important;
    }
  }
}

.divisor {
  text-align: center;
  width: 50%;
  border-color: #ff8800;
}

/* Platos principales */
.recipe-card {
  width: 100%;
  border-top: 2px solid #ff8800;
  border-right: 8px solid #ff8800;
  border-bottom: 4px solid #ff8800;
  border-left: 2px solid #ff8800;
  aside {
    position: relative;
    height: 300px;
    .img-platillo {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    .button {
      background: #ff8800;
      display: inline-block;
      position: absolute;
      top: 92%;
      right: 3%;
      width: em(65);
      height: em(65);
      border-radius: 5px;
      line-height: em(65);
      text-align: center;
      padding: 1em;
      text-decoration: none;
      color: #000000;
      font-weight: bold;
    }
  }
  article {
    height: 260px;
    ul {
      list-style: none;
      padding: 0;
      li {
        display: inline-block;
        margin-left: 1em;
        line-height: 1em;
        color: rgb(255, 255, 255);
        &:first-child {
          margin-left: 0;
        }
      }
    }
    h2,
    h3 {
      margin: 0;
      font-weight: 300;
    }
    h2 {
      font-size: em(28);
      color: #ffffff;
    }
    h3 {
      font-size: em(15);
      color: #c5c5c5;
    }
    .p-body {
      position: relative;
      height: 105px;
      overflow: hidden;
    }
    .p-body::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 75%;
      background: linear-gradient(transparent, #121212);
    }
  }
}

/* Cards para las secciones */
.bg-icon {
  background-color: rgba(0, 0, 0, 0.5);
}
.borde-left {
  border-left: 4px solid #ff8800;
  transition: all 0.3s ease-in;
}
.borde-left:hover {
  box-shadow: 0px 25px 38px -12px rgba(255, 136, 0, 1) !important;
  -webkit-box-shadow: 0px 25px 38px -12px rgba(255, 136, 0, 1) !important;
  -moz-box-shadow: 0px 25px 38px -12px rgba(255, 136, 0, 1) !important;
}

/* Titulo */
.titulo {
  font-size: 4.5em;
}
