<div class="grid grid-nogutter surface-section text-800 fondo">
  <div class="capa"></div>
  <div
    class="
      col-12
      md:col-5
      p-6
      text-center
      md:text-left
      flex
      align-items-center
      h-screen
      info-general
    "
  >
    <section class="mt-8 md:mt-6 info">
      <span class="lineas-efecto text-center block text-4xl font-bold mb-1"
        >Bienvenido a</span
      >
      <div class="text-center titulo color-principal font-bold mb-3">
        Health & Food
      </div>
      <p class="mt-0 mb-4 text-base md:text-lg line-height-3">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus
        excepturi, nisi, magni natus distinctio veritatis quasi animi deleniti,
        possimus amet obcaecati labore! Nihil saepe veritatis a assumenda
        corporis nam doloremque!
      </p>
      <div class="text-center mt-5">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-angle-down"
          class="p-button-rounded p-button-outlined border-principal"
        ></button>
      </div>
      <div class="triangulo-equilatero-bottom-left"></div>
    </section>
  </div>
  <div
    class="col-12 md:col-7 overflow-hidden efecto-cortado"
    *ngIf="carrusel$ | async as carrusel; else loading"
  >
    <p-galleria
      [value]="carrusel"
      [responsiveOptions]="responsiveOptions"
      [numVisible]="4"
      [circular]="true"
      [autoPlay]="true"
      [transitionInterval]="3000"
    >
      <ng-template pTemplate="item" let-slider>
        <img [src]="slider.imagen" class="img-principal" />
      </ng-template>
      <ng-template pTemplate="thumbnail" let-slider>
        <div class="grid grid-nogutter justify-center caja-img p-1">
          <img [src]="slider.imagen" />
        </div>
      </ng-template>
      <ng-template pTemplate="caption" let-slider>
        <div class="text-center px-1 md:px-3">
          <h4 class="color-principal text-3xl md:text-4xl mt-1 mb-1">
            {{ slider.titulo }}
          </h4>
          <div
            class="text-lg"
            [innerHtml]="slider.contenido | convertidorHtml"
          ></div>
        </div>
      </ng-template>
    </p-galleria>
  </div>
</div>

<div class="surface-section px-4 pt-6 pb-0 text-center">
  <h2 class="text-5xl md:text-6xl text-white mt-0">¿Qué te ofrecemos?</h2>
  <h3 class="text-xl md:text-3xl color-principal">
    Una experiencia gastronómica única
  </h3>
  <div class="grid mt-5">
    <div class="col-12 md:col-6 lg:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-star-o text-5xl color-principal"></i>
      </span>
      <div class="text-900 mb-3 text-3xl font-medium">Experiencia</div>
      <span class="text-700 text-lg line-height-3 color-principal"
        >sensorial</span
      >
    </div>
    <div class="col-12 md:col-6 lg:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-star-o text-5xl color-principal"></i>
      </span>
      <div class="text-900 mb-3 text-3xl font-medium">Calidad</div>
      <span class="text-700 text-lg line-height-3 color-principal"
        >en el producto</span
      >
    </div>
    <div class="col-12 md:col-6 lg:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-star-o text-5xl color-principal"></i>
      </span>
      <div class="text-900 mb-3 text-3xl font-medium">Buen servicio</div>
      <span class="text-700 text-lg line-height-3 color-principal"
        >y trato</span
      >
    </div>
    <div class="col-12 md:col-6 lg:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-star-o text-5xl color-principal"></i>
      </span>
      <div class="text-900 mb-3 text-3xl font-medium">Profesionalidad</div>
      <span class="text-700 text-lg line-height-3 color-principal"
        >buen hacer</span
      >
    </div>
    <div class="col-12 md:col-6 lg:col-4 mb-4 px-5">
      <span class="text-700 text-2xl md:text-3xl line-height-3 font-italic"
        >Una gastronomía diferente que conseguirá darle la vuelta a todo lo que
        has visto anteriormente. Sabores nuevos, texturas diferentes, aromas
        distintos.
      </span>
    </div>
    <div class="col-12 md:col-6 lg:col-4 md:mb-4 mb-0 px-3">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-star-o text-5xl color-principal"></i>
      </span>
      <div class="text-900 mb-3 text-3xl font-medium">Espacio</div>
      <span class="text-700 text-lg line-height-3 color-principal"
        >agradable</span
      >
    </div>
  </div>
</div>
<hr class="divisor mt-6 mb-7" />
<div class="grid grid-nogutter surface-section text-800 container">
  <div
    class="
      col-12
      md:col-6
      text-center
      md:text-left
      flex
      align-items-center
      mb-5
    "
  >
    <section>
      <span class="block text-5xl md:text-6xl font-bold mb-3"
        >Nuestros mejores platillos</span
      >
      <div
        class="text-xl md:text-3xl text-primary font-bold mb-5 color-principal"
      >
        Estos son los más sobresalientes y aquellos que nos representan, según
        la opinión de nuestros clientes.
      </div>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden" *ngIf="productos; else loading">
    <p-carousel
      [value]="productos"
      styleClass="custom-carousel"
      [showNavigators]="true"
      [numVisible]="1"
      [numScroll]="1"
      [circular]="true"
      [autoplayInterval]="5000"
      [responsiveOptions]="responsiveOptionsProducts"
    >
      <ng-template let-producto pTemplate="item">
        <div class="product-item">
          <div class="product-item-content">
            <div class="recipe-card border-round">
              <aside>
                <img
                  [src]="producto.imagen"
                  [alt]="producto.nombre"
                  class="img-platillo"
                />

                <a
                [routerLink]="['/producto-detallado', producto.id]"
                  class="button"
                  >Leer en detalle<i class="fas fa-arrow-right ml-2"></i
                ></a>
              </aside>

              <article class="p-4">
                <h2 class="text-3xl md:text-4xl mb-2 color-principal">
                  {{ producto.nombre }}
                </h2>
                <h3>{{ producto.categoria }}</h3>
                <ul class="mt-3 mb-0">
                  <li>
                    <i class="fas fa-user mr-2 color-principal"></i
                    ><span>1</span>
                  </li>
                  <li>
                    <i class="far fa-clock mr-2 color-principal"></i
                    ><span>15 min</span>
                  </li>
                </ul>

                <div
                  class="p-body"
                  [innerHtml]="producto.contenido | convertidorHtml"
                ></div>
              </article>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
<hr class="divisor mt-6 mb-7" />

<div class="surface-ground container mt-4 mb-6">
  <div class="text-900 font-bold text-5xl md:text-6xl mb-4 text-center">
    Nuestras secciones más relevantes
  </div>
  <div class="grid mt-6">
    <div class="col-12 md:col-6 lg:col-4">
      <div class="surface-0 shadow-8 px-3 py-4 border-round borde-left">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">Nuestro BLOG</span>
            <div class="text-900 font-medium text-xl mb-2 text-color">
              Publicamos avisos, eventos y novedades de nuestro negocio.
            </div>
          </div>
        </div>
        <div class="flex align-items-center justify-content-between">
          <button
            pButton
            pRipple
            label="Ir a la sección"
            class="p-button-outlined border-principal"
            routerLink="/blog"
          ></button>
          <div class="bg-icon p-2 border-round">
            <i class="fas fa-pen color-principal text-3xl"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
      <div class="surface-0 shadow-8 px-3 py-4 border-round borde-left">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">Contactanos</span>
            <div class="text-900 font-medium text-xl mb-2">
              Puedes enviarnos un Email, llamarnos o visitarnos presencialmente.
            </div>
          </div>
        </div>
        <div class="flex align-items-center justify-content-between">
          <button
            pButton
            pRipple
            label="Ir a la sección"
            class="p-button-outlined border-principal"
            routerLink="/contacto"
          ></button>
          <div class="bg-icon p-2 border-round">
            <i class="fas fa-envelope color-principal text-3xl"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
      <div class="surface-0 shadow-8 px-3 py-4 border-round borde-left">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">Conócenos</span>
            <div class="text-900 font-medium text-xl mb-2">
              Descubre cuales son nuestros objetivos, valores y equipo.
            </div>
          </div>
        </div>
        <div class="flex align-items-center justify-content-between">
          <button
            pButton
            pRipple
            label="Ir a la sección"
            class="p-button-outlined border-principal"
            routerLink="/nosotros"
          ></button>
          <div class="bg-icon p-2 border-round">
            <i class="fas fa-users color-principal text-3xl"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <p-progressSpinner class="my-auto" strokeWidth="4"></p-progressSpinner>
</ng-template>

<app-footer></app-footer>
