<div class="container mb-6" *ngIf="producto$ | async as producto; else loading">
  <div class="card border-round">
    <div class="grid grid-nogutter">
      <div class="col-12 md:col-12">
        <div class="thumbnail">
          <img
            class="img-responsive"
            [src]="producto.imagen"
            [alt]="producto.nombre"
          />
        </div>
      </div>
      <div class="col-12 md:col-12">
        <div class="info px-3">
          <h1
            class="text-center text-3xl md:text-4xl lg:text-5xl color-principal"
          >
            {{ producto.nombre }}
          </h1>
          <div class="text-center my-4 text-white">
            <div class="text-4xl mb-3 font-bold">${{ producto.precio }}</div>
            <div class="text-xl">{{ producto.categoria }}</div>
          </div>
          <div class="separator mx-auto my-4"></div>

          <div
            class="px-1 text-info"
            [innerHtml]="producto.contenido | convertidorHtml"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <p-progressSpinner
    class="flex justify-content-center my-8"
    strokeWidth="4"
  ></p-progressSpinner>
</ng-template>

<app-footer></app-footer>
