<div class="container mb-6">
  <div class="card border-round">
    <div class="grid grid-nogutter">
      <div class="col-12 md:col-12">
        <div class="thumbnail">
          <img
            class="img-responsive"
            src="https://i.pinimg.com/originals/80/09/a3/8009a378b8b56351c7b7ba197a9a08f9.jpg"
          />
        </div>
      </div>
      <div class="col-12 md:col-12">
        <div class="info px-3">
          <h1 class="text-center">
            Why you Need More Magnesium in Your Daily Diet
          </h1>
          <div class="separator"></div>
          <p>
            Magnesium is one of the six essential macro-minerals that is
            required by the body for energy production and synthesis of protein
            and enzymes. It contributes to the development of bones and most
            importantly it is responsible for synthesis of your DNA and RNA. A
            new report that has appeared in theBritish Journal of Cancer, gives
            you another reason to add more magnesium to your diet...
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>