<div class="container mt-tabla shadow-7 border-round p-4">
  <p-toast position="bottom-center"></p-toast>
  <form [formGroup]="sliderForm">
    <div class="grid">
      <div class="col-12 md:col-4">
        <label class="color-principal">Título</label>
        <input
          type="text"
          pInputText
          class="w-full mt-1"
          formControlName="titulo"
          [(ngModel)]="slider.titulo"
        />
        <div
          class="errores"
          *ngIf="
            sliderForm.get('titulo')?.errors && sliderForm.get('titulo')?.dirty
          "
        >
          <p *ngIf="sliderForm.get('titulo')?.hasError('required')">
            Debe completar este campo*
          </p>
        </div>
      </div>
      <div class="col-12 md:col-4">
        <label class="color-principal">Imagen</label>
        <input
          type="file"
          pInputText
          class="w-full mt-1"
          formControlName="imagen"
          (change)="tomarImagen($event)"
        />
        <div
          class="errores"
          *ngIf="
            sliderForm.get('imagen')?.errors && sliderForm.get('imagen')?.dirty
          "
        >
          <p *ngIf="sliderForm.get('imagen')?.hasError('required')">
            Debe completar este campo*
          </p>
        </div>
      </div>
      <div class="col-12 md:col-4">
        <label class="color-principal">Seleccionar fecha</label>
        <div class="mt-1">
          <p-calendar
            formControlName="horaCreacion"
            [(ngModel)]="slider.horaCreacion"
            [(ngModel)]="fecha"
            [showButtonBar]="true"
            [showIcon]="true"
            [showTime]="true"
            [showSeconds]="true"
            dateFormat="dd/mm/yy"
            inputId="buttonbar"
          ></p-calendar>
        </div>
        <div
          class="errores"
          *ngIf="
            sliderForm.get('horaCreacion')?.errors &&
            sliderForm.get('horaCreacion')?.dirty
          "
        >
          <p *ngIf="sliderForm.get('horaCreacion')?.hasError('required')">
            Debe completar este campo*
          </p>
        </div>
      </div>
      <div class="col-12">
        <label class="color-principal">Descripción</label>
        <p-editor
          formControlName="contenido"
          [(ngModel)]="slider.contenido"
          [style]="{ height: '320px' }"
        >
          <p-header>
            <span class="ql-formats">
              <button class="ql-header" value="1" type="button"></button>
              <button class="ql-header" value="2" type="button"></button>
            </span>
            <span class="ql-formats">
              <select class="ql-size">
                <option selected></option>
                <option value="large">Grande</option>
              </select>
            </span>

            <span class="ql-formats">
              <button class="ql-bold" aria-label="Bold"></button>
              <button class="ql-italic" aria-label="Italic"></button>
              <button class="ql-underline" aria-label="Underline"></button>
              <button class="ql-strike" aria-label="Strike"></button>
            </span>

            <span class="ql-formats">
              <select
                title="Text Color"
                class="ql-color"
                defaultValue="rgb(0, 0, 0)"
              ></select>
              <span class="ql-format-separator"></span>
              <select
                title="Background Color"
                class="ql-background"
                defaultValue="rgb(255, 255, 255)"
              ></select>
            </span>
            <span class="ql-formats">
              <button class="ql-script" value="sub" type="button"></button>
              <button class="ql-script" value="super" type="button"></button>
            </span>
            <span class="ql-formats">
              <button class="ql-list" value="ordered"></button>
              <button class="ql-list" value="bullet"></button>
            </span>
            <span class="ql-formats">
              <button aria-label="Link" class="ql-link"></button>
              <!-- <button aria-label="Image" class="ql-image"></button>
                    <button class="ql-video" type="button"></button> -->
            </span>
            <span class="ql-formats">
              <button class="ql-clean" type="button"></button>
            </span>
          </p-header>
        </p-editor>
        <div
          class="errores"
          *ngIf="
            sliderForm.get('contenido')?.errors &&
            sliderForm.get('contenido')?.dirty
          "
        >
          <p *ngIf="sliderForm.get('contenido')?.hasError('required')">
            Debe completar este campo*
          </p>
          <p *ngIf="sliderForm.get('contenido')?.hasError('maxlength')">
            Debe tener como máximo 443 caracteres*
          </p>
        </div>
      </div>
      <div class="col-12 flex justify-content-between">
        <a pButton pRipple class="bg-cyan-400" href="javascript:history.back()"
          >Volver a la tabla</a
        >
        <button
          pButton
          pRipple
          type="submit"
          label="Aceptar"
          [disabled]="editar ? false : sliderForm.invalid"
          class="bg-principal"
          (click)="
            editar ? actualizarSlider() : agregarSlider(sliderForm.value)
          "
        ></button>
      </div>
    </div>
  </form>

  <div class="hidden md:block">
    <hr class="divisor mt-6 mb-7" />
    <h3 class="text-4xl md:text-6xl color-principal text-center uppercase">
      Previsualización
    </h3>
    <div class="grid justify-content-center mt-4">
      <div class="col-12 md:col-7">
        <p-galleria
          [value]="carrusel"
          [responsiveOptions]="responsiveOptions"
          [numVisible]="4"
          [circular]="true"
          [autoPlay]="true"
          [transitionInterval]="3000"
        >
          <ng-template pTemplate="item" let-slider>
            <img
              [src]="
                previsualizacion == null
                  ? '../../../../assets/noFoto.png'
                  : previsualizacion
              "
              [alt]="slider.titulo"
              class="img-principal"
            />
          </ng-template>
          <ng-template pTemplate="caption" let-slider>
            <div class="text-center px-1 md:px-3">
              <h4 class="color-principal text-3xl md:text-4xl mt-1 mb-1">
                {{ slider.titulo == "" ? "Título..." : slider.titulo }}
              </h4>
              <div
                class="text-lg"
                [innerHtml]="
                  slider.contenido == ''
                    ? 'Contenido...'
                    : (slider.contenido | convertidorHtml)
                "
              ></div>
            </div>
          </ng-template>
        </p-galleria>
      </div>
    </div>
  </div>
</div>
