/* Estilo de las card del dataview */
:host ::ng-deep {
  .p-dropdown {
    width: 14rem;
    font-weight: normal;
  }

  .product-description {
    margin: 0 0.5em 1rem 0.5em;
    position: relative;
    height: 70px;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 85%;
      background: linear-gradient(transparent, #121212);
    }
  }

  .product-category-icon {
    vertical-align: middle;
    margin-right: 0.5rem;
  }

  .product-category {
    font-weight: 600;
    vertical-align: middle;
  }

  .product-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;

    img {
      width: 150px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      margin-right: 2rem;
    }

    .product-list-detail {
      flex: 1 1 0;
    }

    .p-rating {
      margin: 0 0 0.5rem 0;
    }

    .product-price {
      align-self: flex-end;
      background-color: rgba(0, 0, 0, 1);
      border-bottom: 3px solid #ff8800;
    }

    .product-list-action {
      display: flex;
      flex-direction: column;
    }

    .p-button {
      margin-bottom: 0.5rem;
    }
  }

  .product-grid-item {
    margin: 0.5em;
    border: 1px solid #dee2e6;
    .product-grid-item-top,
    .product-grid-item-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    img {
      width: 75%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      margin: 2rem 0;
    }

    .product-grid-item-content {
      text-align: center;
    }

    .product-price {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
}

.card {
  padding: 2rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 2rem;
}

@media (max-width: 576px) {
  :host ::ng-deep .product-list-item {
    flex-direction: column;
    align-items: center;

    img {
      width: 75%;
      margin: 2rem 0;
    }

    .product-list-detail {
      text-align: center;
    }

    .product-price {
      align-self: center;
    }

    .product-list-action {
      display: flex;
      flex-direction: column;
    }

    .product-list-action {
      margin-top: 2rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
}
/* ------------------------------- */
/* Cards personalizadas para mostrar los platillos (grid) */
.card-container {
  .card {
    border: 2px solid #ff8800;
    z-index: 1;
    .card-body {
      .card-author {
        display: block;
        font-size: 15px;
        letter-spacing: 0.5px;

        text-transform: uppercase;
      }
      .card-description {
        display: block;
        font-weight: 300;
        line-height: 22px;
        margin: 10px 0;
      }
      .style-precio {
        background-color: rgba(0, 0, 0, 1);
        border-bottom: 3px solid #ff8800;
      }
      .p-body {
        position: relative;
        height: 85px;
        overflow: hidden;
      }
      .p-body::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 85%;
        background: linear-gradient(transparent, #121212);
      }
    }
    .card-media {
      object-fit: cover;
      width: 100%;
      height: 360px;
    }
  }
}
@media (max-width: 765px) {
  .card-media {
    height: 200px !important;
  }
}
/* Cards personalizadas para mostrar los platillos (item) */
.img-item {
  object-fit: cover;
  width: 100%;
  height: 120px;
}
