<footer class="footer text-center">
  <div class="container">
    <div class="grid">
      <div class="col-12 md:col-6 lg:col-3 my-auto pt-6">
        <img
          src="../../../../assets/logo.png"
          alt="Logo del restaurante"
          class="img-footer"
        />
      </div>

      <div class="col-12 md:col-6 lg:col-3">
        <h5
          class="
            headin5_amrc
            text-white text-3xl
            md:text-3xl
            color-principal
            mb-4
          "
        >
          DIRECCIÓN
        </h5>
        <p class="pb-2 text-xl text-white">
          Gral. Roca 565, R8324 Cipolletti, Río Negro
        </p>
        <p class="pb-2 text-xl text-white">
          <span class="color-principal">Teléfono: </span> +54 299 127 4512
        </p>
      </div>

      <div class="col-12 md:col-6 lg:col-3">
        <h5
          class="
            headin5_amrc
            text-white text-3xl
            md:text-3xl
            color-principal
            mb-4
          "
        >
          DÍAS Y HORARIOS
        </h5>
        <ul class="footer_ul_amrc text-white text-xl">
          <li>
            Lunes a Viernes <br />
            20:30 a 00:00
          </li>
          <li class="mt-2">
            Sabados <br />
            21:00 a 01:00
          </li>
        </ul>
      </div>

      <div class="col-12 md:col-6 lg:col-3">
        <h5
          class="
            headin5_amrc
            text-white text-3xl
            md:text-3xl
            color-principal
            mb-5
          "
        >
          NUESTRA APLICACIÓN
        </h5>
        <a class="btn-descargar font-bold" href="#">
          Descargate nuestra APP<i class="fas fa-cloud-download-alt ml-2"></i>
        </a>
        <!--  <a href="#">
          <img src="../../../../assets/footer/app.png" alt="" />
        </a> -->
      </div>
    </div>
  </div>
  <div class="mt-5">
    <a
      href=""
      pButton
      pRipple
      icon="fa-lg fab fa-facebook text-4xl"
      class="redes-sociales px-5 py-3 mr-3"
    >
    </a>
    <a
      href=""
      pButton
      pRipple
      icon="fa-lg fab fa-instagram text-4xl"
      class="redes-sociales px-5 py-3 mr-3"
    ></a>
    <a
      href=""
      pButton
      pRipple
      icon="fa-lg fab fa-twitter text-4xl"
      class="redes-sociales px-5 py-3 mr-3"
    ></a>
    <a
      href=""
      pButton
      pRipple
      icon="fa-lg fab fa-whatsapp text-4xl"
      class="redes-sociales px-5 py-3"
    ></a>
  </div>
  <hr class="divisor my-4" />
  <div class="container mt-0">
    <p class="text-center text-lg">
      <span class="color-principal">©</span> 2021 | Diseñado por Elias Uribe
    </p>
  </div>
</footer>
