/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@font-face {
  font-family: GOTHIC;
  src: url("./assets/tipografia/GOTHIC.TTF");
}
body {
  margin: 0 !important;
  font-family: GOTHIC !important;
}
a,
button {
  font-family: GOTHIC !important;
}

$color-principal: #ff8800;
.color-principal {
  color: $color-principal !important;
}
.border-principal {
  border-color: $color-principal !important;
  color: $color-principal !important;
}
.bg-principal {
  background-color: $color-principal !important;
  color: #000 !important;
}
.border-naranja {
  border: 2px solid #ff8800;
}
/* Container de boostrap */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1380px;
  }
}
/* Menubar */
.p-menubar {
  background-color: rgba(0, 0, 0, 0.85) !important;
  border: none !important;
}
p-menubarsub {
  margin: 0 0 0 auto !important;
}
.p-menuitem-link {
  transition: all 0.3s ease-in-out !important;
  margin-right: 0.6em;
  font-size: 1em;
  &:hover {
    background-color: $color-principal !important;
    .p-menuitem-icon {
      color: #000 !important;
    }
    .p-menuitem-text {
      color: #000 !important;
    }
    .p-submenu-icon {
      color: #000 !important;
    }
  }
}
.p-menuitem-link-active {
  background-color: $color-principal !important;
  .p-menuitem-icon {
    color: #000 !important;
  }
  .p-menuitem-text {
    color: #000 !important;
  }
}
/* Sidebar */
.p-sidebar {
  background-color: rgba(0, 0, 0, 1) !important;
  border-right: 3px solid #ff8800;
  .p-menuitem-link {
    transition: all 0.3s ease-in-out !important;
    font-size: 1em;
    &:hover {
      background-color: $color-principal !important;
      .p-menuitem-icon {
        color: #000 !important;
      }
      .p-menuitem-text {
        color: #000 !important;
      }
      .p-submenu-icon {
        color: #000 !important;
      }
    }
  }
}
/* Slide Menú */
.p-slidemenu-content {
  height: 220px !important;
}
/* Galeria del Inicio */
.p-galleria-thumbnail-container {
  height: 130px;
}
.p-galleria .p-galleria-caption {
  background: rgba(0, 0, 0, 0.75);
}
.p-galleria-thumbnails-bottom {
  height: 100%;
}
.p-galleria-content {
  height: 100%;
  p-galleriaitem {
    height: 100%;
  }
  .p-galleria-item-wrapper {
    height: 100%;
  }
}
.p-galleria-close-icon {
  z-index: 2;
}

/* Carrusel de los platos principales */
@media (max-width: 765px) {
  .p-carousel .p-carousel-content .p-carousel-prev,
  .p-carousel .p-carousel-content .p-carousel-next {
    display: none;
  }
}

/* Tabla dataview */
.p-dataview-content,
.p-dataview-header {
  background-color: #121212 !important;
}

/* Tablas crud */
.mt-tabla {
  margin-top: 9em;
}

.color-danger {
  background-color: #dc3545 !important;
}
.p-calendar{
  width: 100%;
}