.img-responsive {
  object-fit: cover;
  width: 100%;
  height: 350px;
}
.divisor {
  text-align: center;
  width: 50%;
  border-color: #ff8800;
}
@media (max-width: 765px) {
  .img-responsive {
    height: 150px;
  }
}
